<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link rel="stylesheet" type="text/css" href="style.css">
	<title>[[title0]]</title>

	</head>
	<body>
		<div id="header">
		
			<div id="language">
				<form action="" method="POST"><input type="submit" value="ger" name="lang" style="background:url('images/flag_de.jpg');" /></form>
				<form action="" method="POST"><input type="submit" value="eng" name="lang" style="background:url('images/flag_en.jpg');" /></form>
			</div>
			
			<div id="title">
				<a href="#start">
					<p>[[title1]]</p>
					<p>[[title2]]</p>
				</a>
			</div>
			
			<div id="navi">
				<a href="#request" class="primary" title="[[button_request]]">[[button_request]]</a>
				<a href="#order" class="primary" title="[[button_order]]">[[button_order]]</a>
			</div>
		</div>
	
		
		<div id="content">
		
			<div id="start" name="start">
				<div class="article">
					<div class="article-header">
						[[article0_title]] <span class="delimiter"></span>
						[[article0_title_post]]
					</div>
					<div class="article-image-right image-home-0"></div>
					<p>[[article0_paragraph0]]</p>
					<p>[[article0_paragraph1]]</p>
				</div>
				<div class="article">
					<div class="article-header">
						[[article1_title]] <span class="delimiter"></span>
						[[article1_title_post]]
					</div>
					<div class="article-image image-home-1"></div>
					<p>[[article1_paragraph0]]</p>
					<p>[[article1_paragraph1]]</p>
				</div>
				
				<div class="footer">
					<a href="#disclaimer">[[footer_disclaimer]]</a>
					<div class="legal">[[footer_copy]]</div>
				</div>
			</div>
			
			<div id="request" name="request">
							
				<div class="article">
					<div class="article-header">
						[[post0_title]] <span class="delimiter"></span>
						[[post0_title_post]]
					</div>
					<div class="article-image-right image-post-0"></div>
					<p>[[post0_paragraph0]]</p>
					<p>[[post0_paragraph1]]</p>
				</div>
				<div class="article">
					<div class="article-header">
						[[post1_title]] <span class="delimiter"></span>
						[[post1_title_post]]
					</div>
					<div class=""></div>
					<p>[[post1_paragraph0]]</p>
					<p>[[post1_paragraph1]]</p>
				</div>
				
				<div class="footer">
					<a href="#disclaimer">[[footer_disclaimer]]</a>
					<div class="legal">[[footer_copy]]</div>
				</div>
			</div>
			
			
			<div id="order" name="order">
			
				<div class="article">
					<div class="article-header">[[form_title]]</div>					
					<form name="form-order" action="" method="POST">
						<input type="hidden" name="action" value="order" />
						
						<p>[[form_paragraph0]]</p>
					
						<div class="options">
							<input type="radio" name="form_subject" id="form_subject0" value="form_subject0" />
							<label for="form_subject0">[[form_subject0]]</label>
							
							<input type="radio" name="form_subject" id="form_subject1" value="form_subject1" />
							<label for="form_subject1">[[form_subject1]]</label>
							
							<input type="radio" name="form_subject" id="form_subject2" value="form_subject2" />
							<label for="form_subject2">[[form_subject2]]</label>
						</div>
						
						<p>[[form_paragraph1]]</p>
						
						<label class="form-label-left" for="form_name">[[form_name]]</label>
						<input type="text" name="form_name" id="form_name" class="label-left" required="true"/>
						
						<label class="form-label-left" for="form_location">[[form_location]]</label>
						<input type="text" name="form_location" id="form_location" class="label-left"/>
						
						<label class="form-label-left" for="form_skill">[[form_skill]]</label>
						<input type="text" name="form_skill" id="form_skill" class="label-left"/>
						
						<label class="form-label-left" for="form_year">[[form_year]]</label>
						<select name="form_year" id="form_year">
							<option value=""></option>
							<option value="2000">2000</option>
							<option value="1999">1999</option>
							<option value="1998">1998</option>
							<option value="1997">1997</option>
							<option value="1996">1996</option>
							<option value="1995">1995</option>
							<option value="1994">1994</option>
							<option value="1993">1993</option>
							<option value="1992">1992</option>
							<option value="1991">1991</option>
							<option value="1990">1990</option>
							<option value="1989">1989</option>
							<option value="1988">1988</option>
							<option value="1987">1987</option>
							<option value="1986">1986</option>
							<option value="1985">1985</option>
							<option value="1984">1984</option>
							<option value="1983">1983</option>
							<option value="1982">1982</option>
							<option value="1981">1981</option>
							<option value="1980">1980</option>
							<option value="1979">1979</option>
							<option value="1978">1978</option>
							<option value="1977">1977</option>
							<option value="1976">1976</option>
							<option value="1975">1975</option>
							<option value="1974">1974</option>
							<option value="1973">1973</option>
							<option value="1972">1972</option>
							<option value="1971">1971</option>
							<option value="1970">1970</option>
							<option value="1969">1969</option>
							<option value="1968">1968</option>
							<option value="1967">1967</option>
							<option value="1966">1966</option>
							<option value="1965">1965</option>
							<option value="1964">1964</option>
							<option value="1963">1963</option>
							<option value="1962">1962</option>
							<option value="1961">1961</option>
							<option value="1960">1960</option>
							<option value="<1960">&lt;1960</option>
						</select>
						
						<label class="form-placeholder" for="form_receiver">[[form_receiver]]</label>
						<textarea name="form_receiver" id="form_receiver" class="placeholder-[[form_receiver_indent]]em" placeholder="*" required></textarea>
						
						<label class="form-placeholder" for="form_subject">[[form_subject]]</label>
						<input type="text" name="form_subject" id="form_subject" class="placeholder-[[form_subject_indent]]em" placeholder="*" required="true"/>
						
						<label class="form-placeholder" for="form_message">[[form_message]]</label>
						<textarea name="form_message" id="form_message" class="placeholder-[[form_message_indent]]em" placeholder="*" required="true"></textarea>
						
						<p><span class="notification">[[form_info]]</span> [[form_notification]]</p>
						
						<input type="submit" value="[[form_send]]" class="primary primary_active" />
					</form>
				</div>
				
				
				<div class="footer">
					<a href="#disclaimer">[[footer_disclaimer]]</a>
					<div class="legal">[[footer_copy]]</div>
				</div>
			</div>
						
			<div id="sent" name="sent">
				<div class="article">
					<div class="article-header">[[sent_title]]</div>
					<p>[[sent_paragraph0]]</p>
					<p>[[sent_paragraph1]]</p>
				</div>
			</div>
			
			<div id="disclaimer" name="disclaimer">
				<div class="article">
					<div class="article-header">[[imprint_title]]</div>
					<p>[[imprint_paragraph0]]</p>
					<p>[[imprint_paragraph1]]</p>
					<p>[[imprint_paragraph2]]</p>
				</div>
				
				<br />
				<div class="article">
					<div class="article-header">[[disclaimer_title]]</div>
					<p>[[disclaimer_paragraph0]]</p>					
					<p>[[disclaimer_paragraph1]]</p>
					<p>[[disclaimer_paragraph2]]</p>
					<p>[[disclaimer_paragraph3]]</p>
				</div>
				
				
				<div class="footer">
					<a href="#disclaimer">[[footer_disclaimer]]</a>
					<div class="legal">[[footer_copy]]</div>
				</div>
			</div>
			
		</div>
	</body>
</html>